@use '../app.scss' as *;

img {
    width: 100%;
}

.body-card {
    background-color: $ygo-primary;
    height: 100px;
    border-radius: 0;
    border: none;

    .title {
        font-weight: 700;
        line-height: top;
    }
}